{{ define "main" }}

<div class="max-w-prose mx-auto flex justify-center">
  <article class="prose prose-slate lg:prose-xl dark:prose-invert">
    <h1 class="lg:text-6xl">{{ .Title }}</h1>
    {{ .Content }}
  </article>
</div>

{{ $view := .Params.view | default "date-title-summary" }}
{{ $block := . }}

<div class="flex flex-col items-center w-full max-w-3xl mx-auto">

  <div class="mt-16 sm:mt-20 w-full">
    <div class="flex max-w-3xl flex-col space-y-16 w-full">

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  {{ range $index, $item := $paginator.Pages }}
    {{ partial "functions/render_view" (dict "page" $block "item" $item "view" $view "index" $index) }}
  {{ end }}

    </div>
  </div>

  {{ partial "components/paginator" . }}

</div>

{{ end }}
